<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/the_fonz.jpg">
</div>

<h2>Authenticate</h2>
<button (click)="authenticateClient()">Authenticate Client</button>
<h3>Authenticate Response</h3>
<textarea>{{ authResponse }}</textarea>

<h2>Playlist Search</h2>
<form>
  <label for="keywords">Keywords</label>
  <input [(ngModel)]="searchKeywords"
         name="searchKeywords"
         id="keywords">
  <button (click)="searchPlaylists(searchKeywords)">Search</button>
</form>
<h3>Playlist response</h3>
<textarea>{{ playlistResponse }}</textarea>
